absl-py==1.0.0
adabelief-pytorch==0.2.1
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==20.3.0
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
clearml==1.1.6
clearml-agent==1.1.2
colorama==0.4.4
decord==0.6.0
distlib==0.3.4
dpcpp-cpp-rt==2022.0.2
filelock==3.6.0
frozenlist==1.3.0
fsspec==2022.1.0
furl==2.1.3
future==0.18.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.44.0
idna==2.10
importlib-metadata==4.11.1
intel-cmplr-lib-rt==2022.0.2
intel-cmplr-lic-rt==2022.0.2
intel-opencl-rt==2022.0.2
intel-openmp==2022.0.2
joblib==1.1.0
jsonschema==3.2.0
Markdown==3.3.6
mkl==2022.0.2
mkl-fft==1.3.1
mkl-service==2.4.0
multidict==6.0.2
numpy==1.21.5
oauthlib==3.2.0
opencv-python-headless==4.5.5.62
orderedmultidict==1.0.1
packaging==21.3
pandas==1.4.1
pathlib2==2.3.7.post1
Pillow==8.4.0
platformdirs==2.5.0
protobuf==3.19.4
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.1
pyhocon==0.3.59
PyJWT==2.0.1
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytorch-lightning==1.5.10
pytz==2021.3
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
six==1.15.0
tabulate==0.8.9
tbb==2021.5.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchmetrics==0.7.2
torchvision==0.11.3+cu113
tqdm==4.62.3
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.13.1
Werkzeug==2.0.3
yacs==0.1.8
yarl==1.7.2
zipp==3.7.0